{%extends 'layouts/outter_master.html'%}
{%load static%}
{%block title%} Home | Arogya{%endblock%}
{%block content%}
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content row">
					<div class="col-lg-12">
						<h1>We Care for Your Health Every Moment</h1>
						<p> </p>
						<a class="main_btn mr-10" href="{%url 'signup'%}">get started</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{%endblock%}